body {
    font-family: 'custom-font', Helvetica, sans-serif;
}
html, body, button, input {
    padding:0;
    margin:0;
}

::placeholder {
    color: inherit;
    opacity: 0.5;
}

*:focus-visible {
    outline-style:double;
    outline-color: #ff6100;
    border: none;
}